node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
build
coverage

.git
.gitignore
README.md
.eslintrc.cjs
.prettierrc

# Docker files
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.dev.yml

# Supabase volumes
supabase/volumes